body 
{
 background-color: #191d28;
 color: aliceblue;
}
.space
{
    margin: 16px;;
}
.head
{
    display: inline;
}
#theam
{
    color: #23d0ea;
}
.right
{
    position: absolute  ;
    right: 30px;
    top: 0px;
    display: inline-block;
}
.mid
{
    position: absolute;
    right: 0px;
    left: 40%;
    display: inline-block;
}
.button
{
    padding: 5px;
    margin-top: 2px;
    background-color: rgb(85, 85, 100);
    border-color:rgb(85, 85, 100); 
    color: white;
    border-radius: 20%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #23d0ea;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #23d0ea;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
.tab
{
    background-color: rgb(85, 85, 100);
}